
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
  color: rgb(32, 109, 51);
}
h5 {
  font-size: 15px;
  color: rgb(32, 109, 51);
  text-align: center;
}
.parent-container {
  display: flex;
}
img {
  float: left;
}
.col-md-6{
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%}

.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px
}
.container1{
  width:90%;
  padding-right:15px;
  padding-left:25px;
  margin-right:auto;
  margin-left:auto;
  background: #ffffff;
}
.container2{
  width:75%;
  padding-right:15px;
  padding-left:25px;
  margin-right:auto;
  margin-left:auto;
  background: #ffffff;
}
.container-fluid{
  width:80%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  background: #ffffff;
}
/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: #ffffff;
}

footer { 
  display: block;
}
/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  /* background: rgb(32, 109, 51); */
  border-radius: 0px;
}
.navbar-h {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 50px;
  cursor: pointer;
  background: rgb(32, 109, 51);
  border-radius: 0px;
}
.navbar-h a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/* Getting rid of the default link styles here */
.navbar li a {
  color: rgb(17, 16, 16);
  text-decoration: none;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .caret{content:"";border-top:0;border-bottom:4px dashed;border-bottom:4px solid\9}
/* @media (min-width:768px){.navbar-right .dropdown-menu{right:0;left:auto}.navbar-right */
.dropdown-menu{display:block}
.dropdown-toggle{border-top-right-radius:0;border-bottom-right-radius:0}
/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */

.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.navbar-right{float:right!important;margin-right:-15px}
#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
  .navbar-left{float:left!important}
  .navbar-right{float:right!important;margin-right:-15px}
  .navbar-right~.navbar-right{margin-right:0}

}
